.crud-mui-actions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.crud-mui-action-item:last-child {
    border-right: 0;
    padding-right: 0;
}


.crud-mui-action-item {
    cursor: pointer;
    display: inline;
    margin-left: 5px;
    border-right: 1px solid black;
    padding-right: 5px;
}

.content-sub-panel {
    margin: 0 1%;
    flex-grow: 1;
}

.crud-create {
    margin: 20px 0;
}

.crud-form-operation-summary {
    font-style: italic;
}

.crud-space {
    margin: 0 10px;
}

.crud-prop-list {
    list-style: none;
}

.crud-prop-item {
    margin: 10px 0;
}

.crud-prop-name {
    min-width: 100px;
    display: inline-block;
    text-align: right;
}

.crud-notification {
    font-size: 15px;
    text-align: left;
}

.crud-query-label {
    margin-right: 5px;
}

.reactable-filterer td {
    padding: 10px 0 !important;
    box-sizing: border-box;
}

.reactable-filterer td::before {
    content: "search";
    margin-right: 10px;
    vertical-align: middle;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.reactable-filter-input {
    box-sizing: border-box;
    width: 40%;
    height: 2.5em;
    padding: 5px;
}

.reactable-filter-input:focus {
    outline: none;
}


.reactable-header-sortable{
    position:relative;
    padding-right: 40px;
}

.reactable-header-sortable::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    content: "arrow_drop_up";
    float: right;
    color: #eee;
}
.reactable-header-sort-asc::before {
    content: "arrow_drop_up";
    color: black;
}
.reactable-header-sort-desc::before{
    content: "arrow_drop_down";
    color: black;
}

.reactable-pagination a {
    margin: 0 5px;
    background: #eee;
    padding: 6px 10px;
}

.reactable-pagination a:first-child {
    margin-left: 0;
}

.reactable-pagination .reactable-current-page {
    background: #2196F3;
    color: #fff;
}

.crud-td {
    max-width: 200px;
    min-width: 120px;
    word-wrap: break-word;
}

.crud-th {
    cursor: pointer;
}

.crud-th:focus {
    outline: none;
}


.crud-refresh {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    float: right;
    font-size: 36px;
    cursor: pointer;
    color: #2196F3;
}

.crud-mui-sub-panel-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
